@model List<ShopMyPham.Models.Loai>


<div class="top-category">
    <ul>
        <li>
            <a href="#">Tìm kiếm</a>
        </li>
        <li class="search-top" style="width:402px">
            <form action="~/tim-kiem/result" method="post">
                <input type="text" id="productSearch" name="result" placeholder="Tìm kiếm..." />
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </li>
    </ul>
</div>