@*Footer top area*@
<footer>
    <div >
        <div class="footer-top-area">
            <div class="container">
                <div class="row" style="padding-left:75px;">
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <h3 class="widget-title">Thông tin</h3>
                            <ul class="footer-menu">
                                <li><a href="#">Cửa hàng</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <h3 class="widget-title">Tài khoản</h3>
                            <ul class="footer-menu">
                                <li><a href="#">Tài khoản của tôi</a></li>
                                <li><a href="#">Giỏ hàng</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 hidden-sm">
                        <div class="footer-widget">
                            <h3 class="widget-title">Dịch vụ</h3>
                            <ul class="footer-menu">
                                <li><a href="#">Giao hàng</a></li>
                                <li><a href="#">Vận chuyển quốc tế</a></li>
                                <li><a href="#">Chi nhánh</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="footer-widget widget-contact">
                            <h3 class="widget-title">Liên hệ</h3>
                            <ul class="footer-menu">
                                <li><i class="fa fa-map-marker"> </i> <strong>Địa chỉ</strong> : Tòa nhà Bitexco, Q.1</li>
                                <li><i class="fa fa-phone"> </i> <strong>Điện thoại</strong> : 01267659090</li>
                                <li><i class="fa fa-fax"> </i> <strong>fax</strong> : (012) 999 9999</li>
                                <li><i class="fa fa-envelope"> </i> <strong>Email</strong> : nhtien@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                </div>
            </div>
        </div>

        @*Footer middle area*@
        <div class="footer-middle-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="header-social-icon">
                            <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" title="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                    @*<div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="newsletter">
                                <h2 class="news-title">Nhận tin mới</h2>
                                <div class="join-us">
                                    <form action="#">
                                        <input type="text" placeholder="Email" />
                                        <input type="submit" value="Đăng ký" />
                                    </form>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>

        @*Footer bottom area*@
        <div class="footer-bootom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="copyright">
                            <p>Copyright © 2015 <a href="http://bootexperts.com/" target="_blank">Bootexperts</a> All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="payment">
                            <img src="/Content/img/payment1.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>