<div class="slider-wrap">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner1">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="parallaxtoright,parallaxtoleft" data-slotamount="7" data-masterspeed="600" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="~/Photos/Banner/banner1.jpg" alt="slider1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">                  
                </li>
                <!-- SLIDE  -->
                <li data-transition="parallaxtoright,parallaxtoleft" data-slotamount="7" data-masterspeed="600" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="~/Photos/Banner/banner2.png" alt="slider2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">                  
                </li>
                <li data-transition="parallaxtoright,parallaxtoleft" data-slotamount="7" data-masterspeed="600" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="~/Photos/Banner/banner3.jpg" alt="slider2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                </li>
            </ul>
        </div>
    </div>
</div>