<div class="slider-wrap">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner1">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="parallaxtoright,parallaxtoleft" data-slotamount="7" data-masterspeed="600" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="~/Photos/456.png" alt="slider1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption sfl"
                         data-x="334"
                         data-y="68"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 5;">
                        <img src="~/Photos/2326.jpg" alt="">

                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption title-11 customin tp-resizeme"
                         data-x="652"
                         data-y="161"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:3;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="2000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                        OLAYYYY
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption title-2 customin tp-resizeme"
                         data-x="655"
                         data-y="197"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="3000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                        New trend
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption title-3 customin tp-resizeme"
                         data-x="661"
                         data-y="316"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="4000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 8; max-width: 480px; max-height: 78px; white-space: normal;">
                        Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption customin"
                         data-x="950"
                         data-y="400"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="4500"
                         data-easing="Power3.easeInOut"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 9;">
                        <a href="#" target="_blank"><img src="~/Content/img/slider/slider-1/shopping.jpg" alt=""></a>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="parallaxtoright,parallaxtoleft" data-slotamount="7" data-masterspeed="600" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="/Content/img/slider/slider-1/slider2.jpg" alt="slider2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption title-22 tp-fade tp-resizeme"
                         data-x="350"
                         data-y="150"
                         data-speed="300"
                         data-start="1500"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                        women accessories
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption home2-title-1 tp-fade tp-resizeme"
                         data-x="355"
                         data-y="209"
                         data-speed="300"
                         data-start="2500"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                        collection sale off
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption home2-title-2 tp-fade tp-resizeme"
                         data-x="351"
                         data-y="283"
                         data-speed="300"
                         data-start="3500"
                         data-easing="Power3.easeInOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 7; max-width: ; max-height: ; white-space: nowrap;">
                        Save up to 25% for all in your order in this month!
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-fade"
                         data-x="351"
                         data-y="334"
                         data-speed="300"
                         data-start="4500"
                         data-easing="Power3.easeInOut"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                         style="z-index: 8;">
                        <a href="#" target="_blank"><img src="/Content/img/slider/slider-1/shopping.jpg" alt=""></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>