 <div class="top-category">
    <ul>
        <li>
            <a href="#">All Categories</a>
            <ul>
                <li><a href="#">All Categories</a></li>
                @foreach (var item in Model)
                {
                    <li><a href="#">@item.Ten</a></li>
                }
            </ul>
        </li>
        <li class="search-top">
            <form action="#">
                <input type="text" placeholder="Tìm kiếm..." />
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </li>
    </ul>
</div>
