
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Finish</title>
    <meta http-equiv="Refresh" content="5; url=@Url.Content("home")" />

    <script type="text/javascript">

        function countdown()
        {
            seconds = document.getElementById("countdown").innerHTML;
            if (seconds > 0)
            {
                document.getElementById("countdown").innerHTML = seconds - 1;
                setTimeout("countdown()", 1000);
            }
        }

        setTimeout("countdown()", 1000);

    </script>

</head>
<body>
    <div class="col-md-9" style= "margin-top:280px">
        <div id="generalTabContent" class="tab-content">
            <div id="tab-edit" class="tab-pane fade in active">
                <h3 style="text-align:center">Đăng Ký Thành Công</h3>
                <div style="text-align:center">
                    Chúc mừng bạn đã đăng ký thành công. Bạn có thể sử dụng ngay dịch vụ của chúng tôi.<br />
                    Vui lòng chờ trong <span id="countdown">5</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
